$green: #27AD60;
$dark: #2C3E50;
$orange: #E67E22;
$brown: #8F5F38;
$gray: #98BAA7;
@mixin box-color{
	display: inline-block;
	width: 160px;
	height: 120px;
	margin: 10px -4px 3px;
}
@mixin bg-icon{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
@mixin boton {
	background-color: #443E44;
	border: none;
	font-size: 1.2em;
	padding: 1% 1.5%;
	color: white;
}
@mixin price {
	td{
		padding: 3%;
	}
	&:first-child{
		color: $gray;
		font-size: 1.5em;
		td{
			padding: 5%;
		}
	}		
}

h1{
	font-size: 4em;
	font-weight: 400;
}

header{
	.navbar{
		border-radius: 0;
		margin-bottom: 0;
	}
	.navbar-default {
	    background-color: $green;
	    border-color: $green;
	    padding: 2% 5%;
	    .navbar-nav > li > a{
	    	color: white;
	    	font-weight: 400;
	    	&:hover{
	    		background-color: whitesmoke;
	    		color: $green;
	    	}
	    }
	    .navbar-collapse{
	    	border-color: transparent;
	    }
	    .navbar-toggle{
	    	&:hover{
	    		background-color: whitesmoke;
	    	}
	    }
	}
}

.carousel{
	background-image: url("../img/carousel-bg.jpg");
	@include bg-icon;
	padding: 1%;
	color: white;
	h1{
		margin-bottom: 4%;
	}
	p{
		line-height: 35px;
		font-size: 1.8em;
		font-weight: normal;
		padding: 0% 4%;
	}
}

.pallete{
	hr{
		border-top: 1px solid $dark;
	}
	h1{
		margin-top: 5%;
	}
	.box-color{
		@include box-color;
	}
	.one{
		margin-top: 4%;
		.box-color{
			&:first-child{
				background-color: #69D2E7;
			}
			&:nth-child(2){
				background-color: #A7DBDB;
			}
			&:nth-child(3){
				background-color: #E0E4CC;
			}
			&:nth-child(4){
				background-color: #F38630;
			}
			&:last-child{
				background-color: #FA6900;
			}
		}
	}
	.two{
		.box-color{
			&:first-child{
				background-color: #E94C6F;
			}
			&:nth-child(2){
				background-color: #542733;
				color: white;
				font-weight: normal;
			}
			&:nth-child(3){
				background-color: #5A6A62;
			}
			&:nth-child(4){
				background-color: #C6D5CD;
			}
			&:last-child{
				background-color: #FDF200;
			}
		}
	}
	.three{
		.box-color{
			&:first-child{
				background-color: #DB3340;
			}
			&:nth-child(2){
				background-color: #E8B71A;
			}
			&:nth-child(3){
				background-color: #F7EAC8;
			}
			&:nth-child(4){
				background-color: #1FDA9A;
			}
			&:last-child{
				background-color: #28ABE3;
			}
		}
	}
	.four{
		.box-color{
			color: $dark;
			&:first-child{
				background-color: #588C73;
			}
			&:nth-child(2){
				background-color: #F2E394;
			}
			&:nth-child(3){
				background-color: #F2AE72;
			}
			&:nth-child(4){
				background-color: #D96459;
			}
			&:last-child{
				background-color: #8C4646;
			}
		}
	}
	.five{
		margin-bottom: 1%;
		.box-color{
			&:first-child{
				background-color: #D0C91F;
			}
			&:nth-child(2){
				background-color: #85C4B9;
			}
			&:nth-child(3){
				background-color: #008BBA;
			}
			&:nth-child(4){
				background-color: #DF514C;
			}
			&:last-child{
				background-color: #DC403B;
			}
		}
	}
}

.about-us{
	background-color: $dark;
	color: white;
	padding: 4% 0%;
	.about{
		margin: 6%;
		p{
			font-weight: 300;
		}
		.barras{
			margin-top: 8%;
			.progress{
				border-radius: 0;
				height: 10px;
				border: 2px solid #F5F5F5;
				margin-bottom: 0;
				.progress-bar-warning{
					background-color: $orange;
				}
			}
		}
		img{
			width: 75%;
			margin-left: 10%;
		}
	}
}

.services{
	background-color: $green;
	padding: 4% 0%;
	color: white;
	p{
		font-weight: 300;
	}
	h3{
		font-weight: normal;
	}
	
	.bg-gray{
		padding: 12%;
		margin: 3% 0%;
		width: 90%;
		&:hover{
			background: rgba(0, 0, 0, 0.4);
			h3{
				color: $orange;
			}
			hr{
				border-top: 1px solid white;
			}
			.bg-icon{
				background-image: none;
				background-color: $brown;
				transform:rotate(45deg);
			}
		}
		p{
			color: $gray;
		}
		hr{
			border-top: 1px solid $green;
		}
		.bg-icon{
			background-image: url("../img/icon-bg.png");
			background-color: $dark;
			width: 120px;
			height: 120px;
			margin: auto;
			display: flex;
			@include bg-icon;
			img{
				width: 80%;
				margin: auto;
			}
		}
	}
	button{
		@include boton;
	}
}

.team{
	@extend .services;
	img{
		width: 70%;
	}
	p, h4{
		font-weight: normal;
	}
	.caja{
		padding: 4%;
		.image-girl{
			width: 140px;
			height: 140px;
			background-image: url("../img/team/1.jpg");
			background-position: center;
			background-repeat: no-repeat;
			margin: auto;
		}
		.line-text{
			color: $dark;
		}
		hr{
			border-top: 1px dashed $gray;
		}
		p{
			font-size: 0.9em;
			color: $gray;
		}
		.red-social{
			font-size: 2em;
			margin-top: 8%;
			a{
				color: $gray;
				&:hover{
					color: whitesmoke;
				}
			}
		}
	}
}

.price{
	background-color: $dark;
	color: white;
	font-weight: normal;
	padding: 5% 0%;
	.green{
		border: 1px solid $green;
		width: 100%;
		margin: 40% 0% 20%;
		&:hover{
			border: 1px solid $orange;
			transform: translateY(-50px);
		}
		.no-bg{
			@include price;
		}
		.bg-brown{
			background-color: $brown;
			@include price;
		}
		.bg-white{
			background-color: white;
			color: black;
			td{
				padding: 3%;
			}
		}
		.bg-green{
			background-color: $green;
			font-size: 0.9em;
			td{
				padding: 5%;
			}
			span{
				font-size: 3.8em;
			}
		}
		button{
			@include boton;
			padding: 3% 5%;
			margin: 15% 0%;
		}
	}
}

.clients{
	@extend .price;
	.parrafo{
		color: #B0B2B4;
		font-size: 1.5em;
		font-style: italic;
		font-weight: 400;
		padding: 0% 20%;
		margin: 5% 0% 2%;
		.t-orange{
			color: $orange;
			font-style: normal;
		}
	}
}

.formulario{
	@extend .price;
	form{
		margin: 4% auto;
		width: 65%;
		textarea{
			height: 150px;
		}
		.btn-default{
			@include boton;
		}
		p{
			&:last-child{
				text-align: left;
			}
		}
	}	
}

.image{
	background-image: url("../img/img-divider-img.jpg");
	background-position: 30% 35%;
	height: 20vh;
}
.social{
	background-image: url("../img/img-divider-img.jpg"); 
	background-size: cover;
	background-position: 20% 10%;
	height: 55vh;
	padding-top: 2%;
	a{
		font-size: 7em;
		margin-right: 1.5%;
	}
}

footer{
	@extend .team;
	padding: 1% 0%;
	p{
		font-size: 1.1em;
	}
	.news{
		.input-group-sm > .input-group-addon{
			line-height: 0;
			color: $orange;
		}
		button{
			@include boton;
			font-size: 1.1em;
			padding: 2% 3%;
			margin-top: 6%;
		}
	}
	.last-row{
		margin-top: 2%;
		p{
			float: left;
			color: $dark;
			a{
				margin-left: 5px;
			}
		}
		.back{
			float: right;
		}
	}
}